
:root {
    --sidebar-blue: rgba(25, 146, 212, 1);
    --background-grey: rgba(226,232,240,1);
    --transition-time: 200ms;
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --main-color: rgba(145, 99, 99, 1);
    --form-color: rgba(200, 200, 200, 0.9);
    --main-font: sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--main-font), sans-serif;
}
body {
    overflow-y: hidden;
}

@media only screen and (max-width: 920px) {
    * {
        font-size: 8px;
    }
}
@media only screen and (max-width: 460px) {
    * {
        font-size: 4px;
    }
}


.header {
    background-color: var(--main-color);
    height: 15vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  
    border-bottom: 1px solid rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header .dash-btn {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-left: 2%;
    width: 4%;
    height: auto;
    padding: 5px;
    z-index: 10;
}

.header .dash-btn:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 15%;

}

.header .mid-text,
.header .mid-text * {
    font-size: 2rem;
    margin-left: -10%;
}
.mid-text span:before {
    content: '2';
}

.mid-text span:after {
    content: 'Do';
}

.dashboard {
    position: absolute;
    top: 0%;
    height: 100vh;
    background-color: grey;
    transition: all 400ms ease-in-out;
    width: 0vw;
    z-index: 9;
    border-right: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    grid-template-rows: 15vh 1fr;
    align-items: center;
    text-align: center;
    padding: 0% 0% 2%;

}

.dashboard.visible {
    animation: expand 600ms forwards;
}
.dashboard .dashboard-top {
    position: relative;
    left: 10%;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1000ms linear forwards;
}



.dashboard-p-list {
    display: grid;
    grid-auto-rows: 8%;
    border: 1px solid black;
    height: 90%;
    align-self: start;
    border-right: none;
    border-left: none;
    background-color: rgba(255,255,255,0.6);
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    opacity: 0;
    animation: fadeIn 1000ms linear forwards;
    overflow-x: hidden;
    direction: rtl;

}

::-webkit-scrollbar {
    width: 0.6vw;
 }
::-webkit-scrollbar-track {
background: #9c9c9c;
}
::-webkit-scrollbar-thumb {
background: #525252;
}
::-webkit-scrollbar-thumb:hover {
background: #2c2c2c;
}

.dashboard .project-btn {
    cursor: pointer;
    opacity: 0;
    transition: all 50ms ease-in-out;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    padding: 0% 8% 0% 6%;
    gap: 2%;
    align-items: center;
}

.project-btn.visible {
    opacity: 1;
}

.project-btn:hover {
    background-color: rgba(0,0,0,0.2);
    padding: 0% -10% 0% 10%;
}

.project-btn.checked {
    animation: checked 70ms linear forwards;
}


.project-btn.checked::before {
    content: ''
}

.project-btn.checked::after {
    content: '~'
}
.project-btn img {
    width: 1rem;
}


.delete-p-btn {
    margin-left: auto;
    transition: all 200ms ease-in-out;
}
.delete-p-btn.second-click {
    animation: deleteIcon 500ms linear infinite;
}
.delete-p-btn:hover {
    transform: scale(1.05);
}

.newFormPlus-btn {
    cursor: pointer;
    margin-bottom: 5%;
    border-radius: 30%;
}
.newFormPlus-btn:hover {
    transform:scale(1.1);
    background-color: rgba(255,255,255,0.2);
}

.newFormPlus-btn:active {
    transform: scale(0.96);
}

.blackout {
    position:absolute;
    top:0%;
    left:0%;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10;
    transition: all 50ms ease-in-out;
}

.project-form {
    background-color: var(--form-color);
    border: 1px solid black;
    border-radius: 5%;
    padding: 2% 0%;
    display: grid;
    grid-template-rows: 20% 1fr 1.5fr 20%;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 25%;
    width: 50vw;
    height: 50vh;
    z-index: 22;
    transition: all 500ms ease-in-out;
}

.project-form h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--main-font), sans-serif;
    grid-row: 1;
    margin-bottom: 5%;
}

.project-form label {
    display: flex;
    gap: 3%;
    justify-content: center;
}

.project-form button {
    width: 30%;
    height: 100%;
    align-self: center;
    justify-self: center;
    border: 1px solid black;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.project-form button:hover {
    transform: scale(1.02);
}

.project-form button:active {
    transform: scale(0.98);
}

.newForm-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.newProjectIcon-selector {
    margin: 0;
    padding: 0;
    width: fit-content;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.newProjectIcon-selector:hover {
    transform: scale(1.1);
}

.newProjectIcon-selector.checked {
    filter: invert(100%);
    transform: scale(1.1);
}



.blackout.inactive {
    pointer-events: none;
}

.blackout.active {
    background-color: rgba(0,0,0,0.6);
    pointer-events: all;
    cursor: pointer;
}

.project-form.inactive {
    transform: scale(0);
    pointer-events: none;
}

.project-form.active {
    pointer-events: all;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submit-btn {
    background-color: rgba(200,0,0,0.3);
}
.submit-btn:hover {
    transform: scale(1);
    cursor:not-allowed;
}
.submit-btn.active {
    background-color: rgba(0,200,0,0.2);
}
.submit-btn.active:hover {
    cursor: pointer;
}

.icon {
    width: 5vw;
    height: 5vh;
}

.main-wrapper {
    width: 100vw;
    height: 85vh;
    transition: all 500ms ease-in-out;
    display: grid;
    grid-template-rows: 10%;
    padding: 2% 5%;
}
.task-grid {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: rgba( 0,0,0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.task-grid h1 {
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    top: 0%;
    left: 0%;
}

.task {
    width: 100%;
    opacity: 0;
    animation: fadeIn 1000ms forwards 1;
    height: fit-content;
    font-size: 1.3rem;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    text-decoration: line-through;
    text-decoration-color: transparent;


}

.task.checked .checkmark {
    opacity: 1;
    cursor: progress;
}
.task.checked {
    animation: deleteTask 3000ms linear 1;
}

.checkmark:hover {
    transform: scale(1.05);
    cursor:pointer;
}

.empty-tasks {
    opacity: 0;
    animation: fadeIn 3000ms forwards 1;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes deleteTask {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
        text-decoration-color: black;
    }
}

.new-task-input {
    border: 1px solid orange;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}






@keyframes checked {
    100% {
        font-weight: bold;
        font-style: italic;
        font-size: 1.15rem;
        padding-left: -5%;
    }
}

@keyframes expand {
    0% {width: 0vw}
    100% {width: 20vw}
}


@keyframes deleteIcon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;

    }
}
